# Runtime dependencies
numpy==2.2.4
pandas==2.2.3
pydicom==3.0.1
SimpleITK==2.5.0
networkx==3.6.1
matplotlib==3.10.1
opencv-python-headless==4.11.0.86
scikit-image==0.25.2
scipy==1.15.2

# Development tooling
black==24.10.0
pre-commit==4.2.0
pytest==8.3.5
ruff==0.11.13
